<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <ApplicationRevision>18</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Unc</InstallFrom>
    <InstallUrl>\\192.168.50.20\public\Программы АСУ ТП\Техосмотр\</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net9.0-windows\win-x86\app.publish\</PublishDir>
    <PublishUrl>\\192.168.50.20\public\Программы АСУ ТП\Техосмотр\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>True</PublishReadyToRun>
    <PublishSingleFile>True</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(нет)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net9.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <History>True|2025-10-20T10:42:31.3713538Z||;True|2025-10-20T12:42:51.3695313+03:00||;True|2025-10-20T08:19:39.6402043+03:00||;True|2025-10-20T08:07:23.5382722+03:00||;True|2025-10-20T07:55:39.4961863+03:00||;True|2025-10-10T10:12:49.9834862+03:00||;True|2025-10-08T08:10:00.7898080+03:00||;False|2025-10-08T08:05:13.0261413+03:00||;True|2025-10-06T14:53:14.2191539+03:00||;True|2025-10-06T14:15:33.4693808+03:00||;False|2025-10-06T14:13:38.6089221+03:00||;False|2025-10-06T14:13:16.4050886+03:00||;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.9.0.x86">
      <Install>true</Install>
      <ProductName>Среда выполнения .NET Core для классических приложений 9.0.8 (x86)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>